= form_for([@member, @member.resumevids.build]) do |f|
  %div.field
    = f.label :name
    = f.text_field :name
    = f.label :originvid
    = f.text_field :originvid
    = f.label :description
    = f.text_area :description
  %div.actions
    = f.submit

