%div.awesome
  current_member
  = current_member
  @current_member
  = @current_member
  @member
  = @member
  = form_for(@group) do |m|
    = m.label "Name"
    = m.text_field :name
    = m.label "Description"
    = m.text_field :description
    = m.submit
