%li
  = link_to group.name, group
  |
  = group.description
  |
  Group ID
  = group.id
  |
  = link_to 'Edit group', edit_group_path(group)
  = link_to 'Remove group Record', group, :method => :delete, :data => { :confirm => 'Are you sure?' }
  - if group.ingroup?(@current_member)
    = form_for(group.groupings.find_by_member_id(@current_member), :html=> { method: :delete}) do |m|
      = m.submit "Leave Group", class: "btn btn-large btn-primary"
  - else
    = form_for(group.groupings.build(@current_member)) do |m|
      = m.hidden_field :group_id
      = m.submit "Join", class: "btn btn-large btn-primary"
= @current_member
