!!!!
%html
  %head
    %title FindPeople
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    %nav#primary-navigation.row
      %div.container.fill
        %aside.lsidebar.fill
          %h3 This is the sidebar
          %p additional content
        %article.content
          - flash.each do |key, value|
            %div{:class=>"alert alert-<%= key %>"}
              = value
          = yield
    .span12
      = render 'layouts/footer'
