<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_digest %><br />
    <%= f.text_field :password_digest %>
  </div>
  <div class="field">
    <%= f.label :act %><br />
    <%= f.check_box :act %>
  </div>
  <div class="field">
    <%= f.label :produce %><br />
    <%= f.check_box :produce %>
  </div>
  <div class="field">
    <%= f.label :direct %><br />
    <%= f.check_box :direct %>
  </div>
  <div class="field">
    <%= f.label :camera %><br />
    <%= f.check_box :camera %>
  </div>
  <div class="field">
    <%= f.label :extra %><br />
    <%= f.check_box :extra %>
  </div>
  <div class="field">
    <%= f.label :pa %><br />
    <%= f.check_box :pa %>
  </div>
  <div class="field">
    <%= f.label :write %><br />
    <%= f.check_box :write %>
  </div>
  <div class="field">
    <%= f.label :sound %><br />
    <%= f.check_box :sound %>
  </div>
  <div class="field">
    <%= f.label :wardrobe %><br />
    <%= f.check_box :wardrobe %>
  </div>
  <div class="field">
    <%= f.label :setdesign %><br />
    <%= f.check_box :setdesign %>
  </div>
  <div class="field">
    <%= f.label :stunt %><br />
    <%= f.check_box :stunt %>
  </div>
  <div class="field">
    <%= f.label :marketing %><br />
    <%= f.check_box :marketing %>
  </div>
  <div class="field">
    <%= f.label :other %><br />
    <%= f.check_box :other %>
  </div>
  <div class="field">
    <%= f.label :what %><br />
    <%= f.text_field :what %>
  </div>
  <div class="field">
    <%= f.label :paid %><br />
    <%= f.check_box :paid %>
  </div>
  <div class="field">
    <%= f.label :salary %><br />
    <%= f.number_field :salary %>
  </div>
  <div class="field">
    <%= f.label :credits %><br />
    <%= f.text_field :credits %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
