- provide(:title, "All Members")

%h1 Active Members

= form_tag('', :method => :get) do
  %div.filtertime
    %label{:for => "show"}
    %br/
    %select#show{:name => "show", :onchange => "window.location='\#{url_for(eval('#{'member'}_url({ :query => params[:query] })'))}' + '?show=' + this.value"}
      - @filters.each do |pair|
        %option{:value => pair[:scope]}
          = pair[:label]
    = submit_tag 'Filter'
= form_tag('',:method => :get) do
  #myfilters
    - @filters.each do |f|
      = check_box_tag('filters[]', f[:scope])
      = f[:label]
  = submit_tag 'Check Filter'

= will_paginate
%div#members
  %ul#myfilters
    = render @members
= will_paginate

= link_to 'New Member', new_member_path
= debug(params) if Rails.env.development?
