- provide(:title, "All Members")

%h1 Active Members

= form_tag('',:method => :get) do
  %span#myfilters.filtertime
    - @filters.each do |f|
      = check_box_tag('show[]', f[:scope])
      = f[:label]
  %br
  .filterbutton
    = submit_tag 'Check Filter'

= will_paginate
%div#members
  %ul#myfilters
    = render @members
= will_paginate

= p params[:show]
%br
-#= p @filters.collect{|f| f[:scope]}.include?(params[:myfilters])
-#= p (params[:myfilters]-(@filters.collect{|f| f[:scope]})).empty?
%br
-#= @filters.collect{|f| f[:scope]}
%br
= link_to 'New Member', new_member_path
= debug(params) if Rails.env.development?
