<h1>Listing members</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Password</th>
    <th>Password digest</th>
    <th>Act</th>
    <th>Produce</th>
    <th>Direct</th>
    <th>Camera</th>
    <th>Extra</th>
    <th>Pa</th>
    <th>Write</th>
    <th>Sound</th>
    <th>Wardrobe</th>
    <th>Setdesign</th>
    <th>Stunt</th>
    <th>Marketing</th>
    <th>Other</th>
    <th>What</th>
    <th>Paid</th>
    <th>Salary</th>
    <th>Credits</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.username %></td>
    <td><%= member.password %></td>
    <td><%= member.password_digest %></td>
    <td><%= member.act %></td>
    <td><%= member.produce %></td>
    <td><%= member.direct %></td>
    <td><%= member.camera %></td>
    <td><%= member.extra %></td>
    <td><%= member.pa %></td>
    <td><%= member.write %></td>
    <td><%= member.sound %></td>
    <td><%= member.wardrobe %></td>
    <td><%= member.setdesign %></td>
    <td><%= member.stunt %></td>
    <td><%= member.marketing %></td>
    <td><%= member.other %></td>
    <td><%= member.what %></td>
    <td><%= member.paid %></td>
    <td><%= member.salary %></td>
    <td><%= member.credits %></td>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member', new_member_path %>
