<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @member.username %>
</p>

<p>
  <b>Password:</b>
  <%= @member.password %>
</p>

<p>
  <b>Password digest:</b>
  <%= @member.password_digest %>
</p>

<p>
  <b>Act:</b>
  <%= @member.act %>
</p>

<p>
  <b>Produce:</b>
  <%= @member.produce %>
</p>

<p>
  <b>Direct:</b>
  <%= @member.direct %>
</p>

<p>
  <b>Camera:</b>
  <%= @member.camera %>
</p>

<p>
  <b>Extra:</b>
  <%= @member.extra %>
</p>

<p>
  <b>Pa:</b>
  <%= @member.pa %>
</p>

<p>
  <b>Write:</b>
  <%= @member.write %>
</p>

<p>
  <b>Sound:</b>
  <%= @member.sound %>
</p>

<p>
  <b>Wardrobe:</b>
  <%= @member.wardrobe %>
</p>

<p>
  <b>Setdesign:</b>
  <%= @member.setdesign %>
</p>

<p>
  <b>Stunt:</b>
  <%= @member.stunt %>
</p>

<p>
  <b>Marketing:</b>
  <%= @member.marketing %>
</p>

<p>
  <b>Other:</b>
  <%= @member.other %>
</p>

<p>
  <b>What:</b>
  <%= @member.what %>
</p>

<p>
  <b>Paid:</b>
  <%= @member.paid %>
</p>

<p>
  <b>Salary:</b>
  <%= @member.salary %>
</p>

<p>
  <b>Credits:</b>
  <%= @member.credits %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
