- provide(:title, @member.username)
%div{:class=>"row"}
  %aside.span4
    %section
      %div.betterheading
        %h1= @member.username
%p{:id=>"notice"}
  = notice
%table.erictable
  %tr
    %th Username:
    %th Email:
  %COLGROUP
    %COL{:width=>"200"}
    %COL{:width=>"300"}
  %tr
    %td= @member.username
    %td= @member.email

%div.form-inline
  %br
  %h3 Attributes
  = form_for (@member) do |m|
    = m.label "Act:"
    = @member.act
    |    
    = m.label "Produce:"
    = @member.produce
    |    
    = m.label "Direct:"
    = @member.direct
    |    
    = m.label "Camera:"
    = @member.camera
    |     
    = m.label "Extra:"
    = @member.extra
    |    
    = m.label "Pa:"
    = @member.pa
    |   
    = m.label "Write:"
    = @member.write
    |   
    = m.label "Sound:"
    = @member.sound
    %br
    = m.label "Wardrobe:"
    = @member.wardrobe
    |   
    = m.label "Setdesign:"
    = @member.setdesign
    |   
    = m.label "Stunt:"
    = @member.stunt
    |   
    = m.label "Marketing:"
    = @member.marketing
    |   
    = m.label "Other:"
    = @member.other
    |   
    = m.label "What:"
    = @member.what
    |   
    = m.label "Paid:"
    = @member.paid
    |   
    = m.label "Salary:"
    = @member.salary
    %br
    = m.label "Credits:"
    = @member.credits
    %br
    = link_to 'Edit Profile', edit_member_path(@member)
%div.rvidstyle
  %h2 Body of work videos
  Total videos:
  = @member.resumevids.count

  %ul= render @member.resumevids
  %br
  %h3 Add a video to your body of work
  = render "resumevids/form"
%br/
= link_to 'Edit', edit_member_path(@member)
= link_to 'Back', members_path
